.hotelcard-container{
    width: 20rem;
    border-radius: 4px;
    background-color: var(--background-color);
}

.img{
    width: 100%;
    height: 15rem;
    object-fit: cover;
    border-radius: 4px;
}

.hotelcard-details{
    color: var(--text-color-primary);
    padding: 8px;
}

.location{
    font-weight: bold;

}

.rating{
    margin-left: auto;
}

.hotel-name{
    padding-bottom: 8px;
    color: var(--text-color-primary);
    font-size: 0.875rem;
}
.price-details{
    color: var(--text-color-primary);
    font-size: 0.875rem;
    padding: 0 4px 8px 4px ;
}

.price-details .price{
    font-weight: bold;
    font-size: 1rem;
    margin-right:4px ;
}

.button.btn-wishlist{
    padding: 1.25rem;
    top: 4px;
    right: 8px;
}

.favorite{
    color: #71717a;
}

.fav-selected{
    color: red;
}