.destination-container {
    width: 100%;
    height: 100%;
    background-color: var(--overlay);
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
  }
  
  .destination-options {
    background-color: var(--background-color);
    top: 3rem;
    left: 50%;
    transform: translate(-50%, 0);

  }
  
  .search-dest {
    font-size: 0.875rem;
    padding: 0.5rem;
    border: none;
    background-color: var(--background-color);
  }
  
  .search-dest:focus {
    outline:none;
  }
  
  .search-container {
    font-size: 1rem;
    padding: 1.25rem 0.5rem;
    border: none;
    background-color: var(--primary-color-1);
    height: 100%;
    color: #fafafa;
  }
  
  .label {
    display: block;
    color: var(--text-color-primary);
    padding: 8px 0 0 8px;
    font-size: 0.875rem;
  }
  
  .search {
    background-color: var(--primary-color-1);
  }
  
  .search-result-container {
    background-color: var(--background-color);
    color: var(--text-color-primary);
    width: 25rem;
    max-height: 50vh;
    overflow-y: auto;
    border-radius: 4px;
    top: 9rem;
    left: 22.7%;
  }
  
  .p {
    padding: 8px;
    color: var(--text-color-primary);
    opacity: 0.7;
  }
  
  .button.close-search-dest {
    padding: 0;
    top: -1.5rem;
    right: -1.5rem;
  }
  
  .button.close-search-dest:hover {
    cursor: pointer;
    scale: 1.1;
  }
  
  .button .highlight {
    font-size: 2rem;
    color: var(--background-color);
  }