.wishlist-page {
    padding: 2rem 3rem 1.5rem 3rem;
  }
  
  .heading-2 {
    padding: 7rem 0 1rem;
    font-size: 2.5rem;
  
  }
  
  .click-here {
    color: var(--primary-color);
    text-decoration: underline;
  }
  
  .click-here:hover {
    cursor: pointer;
  }