.categories {
    padding: 6rem 10rem 1rem 4rem;
    color: var(--text-color-primary);
    background-color: var(--background-color);
    position: fixed;
    z-index: 1;
    width: 100vw;
}

.border-bottom{
    border-bottom: 1px solid var(--text-color-primary);
}

.gap-large{
    gap: 2rem;
}

.button.btn-category{
    padding: 0 ;
    top: 6rem;
    border: 1px solid var(--accent-color);
    border-radius: 50%;
    color: var(--text-color-primary);
    height: 24px;
    width: 24px;
}

.btn-left{
    left: 2rem;
}

.btn-right{
    right: 11rem;
}