.categories {
    padding: 6rem 10rem 1rem 4rem;
    color: var(--text-color-primary);
    background-color: var(--background-color);
    /* color: var(--primary-color);
    background-color: var(--primary-color-1); */
    position: fixed;
    z-index: 1;
    width: 100vw;
}

.border-bottom{
    border-bottom: 2px solid var(--primary-color-1);   
    border-top: 2px solid var(--primary-color-1);   
}

.gap-large{
    gap: 2rem;
}

.button.btn-category{
    padding: 0 ;
    top: 6rem;
    border: 1px solid var(--accent-color);
    border-radius: 50%;
    color: var(--text-color-primary);
    height: 1.5rem;
    width: 1.5rem;
}

.btn-left{
    left: 2rem;
}

.btn-right{
    right: 11rem;
}

.button.btn-filter{
    top: 5.5rem;
    right: 2rem;
    padding: 3px 8px ;
    border-radius: 2rem;
    border: 2px solid var(--primary-color-1);
    color: var(--primary-color-1);
    font-weight: 500;
    
}
.btn-filter:hover,
.btn-category:hover{
    box-shadow: 1px 1px 4px 2px rgba(0,0,0,0.1);
    background-color: var(--primary-color-1);
    color: var(--primary-color);
}