@import url("https://uilight.netlify.app/main.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


:root{
  --background-color: #fafafa;
  --primary-color: #fafafa;
  --primary-color-1: #05882e;
  --text-color-primary: #363030;  
  --accent-color: #d2d2d2;
  --container-border-color: #707070;
  --overlay: rgba(0, 0, 0, 0.3);  
}

*{
  font-family: 'Poppins', sans-serif;

}

body{
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--background-color);
}


