.auth-container {
  width: 100%;
  padding: 1rem;
}

.auth-label {
  color: var(--text-color-primary);
  opacity: 0.8;
}

.asterisk {
  color: var(--primary-color-1);
}

.auth-input {
  border: none;
  border-bottom: 1px solid var(--accent-color);
  color: var(--text-color-primary);
  font-size: 1rem;
  padding: 8px 0;
  opacity: 0.6;
}

.lb-in-container {
  padding: 1rem 0;
}

.auth-input:focus {
  outline: none;
  opacity: 1;
}

.button.btn-login {
  width: 100%;
  font-size: 1.5rem;
  padding: 0.875rem 0;
  font-weight: normal;
  margin: 1rem 0;
  background-color: var(--primary-color-1);
}

.cta {
  padding: 1rem 0;
}

.button.btn-outline-primary {
  width: 100%;
  padding: 1rem;
  font-weight: normal;
  margin-bottom: 1rem;
  color: var(--primary-color-1);
  border:  2px solid var(--primary-color-1);


}

.button.btn-outline-primary:hover {
  background-color: var(--primary-color-1);
  color: var(--background-color);
}
